<div class="container about">
    <div>
	<p><img src="/assets/img/viczian_istvan_belyegkep_450x450.png" alt="Viczián István" class="img-circle">
	<h1>Viczián István</h1>
	<p>Java fanatikusként fejlesztek, oktatok, blogot írok, rendezvényeket szervezek és konferenciákra járok. A Debreceni Egyetemen végeztem programtervező matematikusként, jelenleg az IP Systemsnél vagyok vezető programozó és a Training360-nál oktatásokat tartok.</p>
	<p>A JTechLog egy kötetlen stílusú blog a Java nyelv és platform érdekességeiről.</p>
	<p><a href="https://github.com/vicziani"><i class="fa fa-github"></i></a>
	    <a href="https://twitter.com/vicziani"><i class="fa fa-twitter"></i></a>
	    <a href="https://www.linkedin.com/in/viczianistvan"><i class="fa fa-linkedin"></i></a>
	</p>
    </div>
</div>