<header>
<div class="container logo">
	<a href="/">
	<img class="logo" src="/assets/img/logo.png" alt="{{ site.title }} - {{ site.lead }}"/>
	</a>
</div>

<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
			<a class="blog-nav-item" href="/archivum.html">Archívum</a>
			<a class="blog-nav-item" href="/blogrol.html">Blogról</a>
			<a class="blog-nav-item" href="/rolam.html">Rólam</a>
			<a class="blog-nav-item" href="/cikkek.html">Cikkeim</a>
			<a class="blog-nav-item" href="/tovabbi-oldalak.html">Amik érdekelnek</a>
		</nav>
	</div>
</div>
</header>
