<aside class="training-sidebar">
    <h3>Következő képzéseim</h3>

    <div class="training-item">
        <h4><a href="https://www.training360.com/java?mentored=true" target="_blank" rel="noopener">Mentorált Java képzések</a></h4>
        <p class="training-date">2026. június 24.</p>
        <p>Videós tréningek különböző Java témákban, pl. JPA, Spring, CI/CD, stb.</p>
    </div>

    <div class="training-item">
        <h4><a href="https://www.training360.com/kepzes/javax-mp" target="_blank"
                rel="noopener">Microservice tervezési minták Spring Clouddal megvalósítva Kubernetes környezetben</a></h4>
        <p class="training-date">2026. június 24.</p>
        <p>Microservice legjobb gyakorlatok, Spring Cloud projektek, Kubernetes.</p>
    </div>

    <div class="training-item">
        <h4><a href="https://www.training360.com/kepzes/java-ddd" target="_blank"
                rel="noopener">Domain Driven Design és implementációja Java nyelven</a></h4>
        <p class="training-date">2026. június 25.</p>
        <p>Komplex alkalmazások részekre bontása és megvalósítása bevált minták alapján.</p>
    </div>

    <div class="training-item">
        <h4><a href="https://www.training360.com/kepzes/javax-kcl" target="_blank" rel="noopener">Keycloak fejlesztés és adminisztráció</a></h4>
        <p class="training-date">2026. július 6.</p>
        <p>OAuth 2.0 és OpenID Connect, JWT tokenek, Keycloak és Spring Security.</p>
    </div>

    <div class="training-item">
        <h4><a href="https://www.training360.com/kepzes/javax-qrk" target="_blank" rel="noopener">Microservice alkalmazásfejlesztés Quarkussal</a></h4>
        <p class="training-date">2026. július 8.</p>
        <p>Quarkus, REST webszolgáltatások, adatbáziskezelés, messaging, observability, Twelve-Factor app.</p>
    </div>
</aside>